{% set title = 'Создать продукт' %}

{% extends 'base.html' %}

{% block content %}
<div class="my-container profile-container">
    <div class="profile">
        <h3>Добавить новый продукт</h3>
        <form method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Название</label>
            <input name="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Цена в рублях</label>
            <input name="price" type="number" min="0" step="1" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
              <label class="form-check-label" for="exampleCheck1">Выбрать категорию</label>
              <select name="category" class="form-select" aria-label="Default select example">
                  {% for category in categories %}
                  <option value="{{ category[0] }}">{{ category[1] }}</option>
                  {% endfor %}
              </select>
          </div>
            <div class="mb-3">
                <label for="example" class="form-label" id="photo">Фото</label>
                <input type="file" name="photo" id="photo">
            </div>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>
{% endblock %}